.image{
  width: 300px;
  border-top-right-radius: 47%;
  border-top-left-radius: 47%;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.336);
}
.title, .title2{
  font-size: 4.7em;
  font-family: 'argue', serif;
  color: #222;
  width: fit-content;
}
.title2{
  transform: translate(100px, -20px);
  font-family: 'argue', serif;
  margin-bottom: -30px;
}

.subTitle{
  padding: 10px 0;
  font-family: 'argue', serif;
}

.home{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 30px;
}

.textBox{
  max-width: 400px;
  padding: 20px;
  font-size: 1.1em;
  margin-top: -20px;
}

.paragraph{
  text-align: center;
  line-height: 30px;
}
.social{
  width: 100%;
  margin: 60px 0;
}

.social button{
  background-color: #222;
  color: white;
  border: 0;
  padding: 15px 20px;
  font-size: 1.2em;
  font-family: "argue", sans-serif;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin: 50px 0 30px 0;
}

.social .redes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 65px;
}

.redes > a, .redes > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 280px;
  padding: 20px 0;
}
 .redes a {
  font-size: 1.1em;
  text-decoration: none;
  color: #222;
}
.redes div > a {
  font-family: 'argue', sans-serif;
}
.redes span {
  font-size: 1.6em;
  font-family: 'argue', sans-serif;
}
.redes i{
  font-family: sans-serif;
}
.spanTitle{
  color: #222;
  font-size: 1.1em;
  border-bottom: 1px solid #222;
  margin-bottom: 5px;
  padding-bottom: 3px;
}

@media (max-height:600px) {
  .home{
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  .home{
    width: 100%;
  }
  .container{
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
  }
  .image{
    width: 100%;
    border-radius: 0;
    background-attachment: fixed;
  }
  .imageDiv{
    height: 300px;
    overflow: hidden;
  }
  .textBox{
    height: 540px;
    max-width: 400px;
  }
  .paragraph{
    text-align: center;
  }
  .title, .title2{
    font-size: 3.5em;
    margin-left: 25px;
  }
  .title{
    transform: translate(30px, -10px);
  }
}

@media (max-width: 550px){
  .subTitle{
    padding: 20px 0;
  }
}

@media (max-width: 569px) {
  .social .redes{
    padding-top: 0;
  }
}

@media (max-width: 380px){
  .title, .title2{
    font-size: 3.5em;
    margin-left: 0;
  }
}
@media (max-width: 340px){
  .textBox{
    padding: 5px;
  }
}
@media (min-height:680px) {
    .textBox{
      height: 485px;
    }
}

@media (min-width:1380px) {
  .textBox{
    font-size: 1.1em;
  }
}
@media (min-width:1600px) {
  .textBox{
    font-size: 1.2em;
  }
  .image{
    width: 315px;
  }
  .container{
    gap: 100px;
  }
  .social{
    font-size: 1.1em;
  }
}
