.sliderContainer{
  padding: 20px;
}

.slider{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 920px;
  width: 100%;
}

.slideDiv img{
  width: 100%;
}

.slideDiv{ 
  overflow: hidden;
  height: 100%;
  width: 400px;
  min-width: 137px;
}


@media (max-width:550px){
  .slider{
    flex-wrap: wrap;
  }
  .slideDiv{
    width: 180px;
  }
}

@media (max-width:390px){
  .slider{
    flex-wrap: wrap;
  }
  .slideDiv{
    width: 50%;
  }
}