.sliderContainer{
  padding: 20px;
}

.slider{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  's s s s'
  ;
  margin: auto;
  width: 100%;
  column-gap: 0;

  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.315);
}
.slideDiv{
  width: 100%;
  grid-area: 's';
}

.slideDiv img{
  width: 100%;
  height: 100%;
}

@media (max-width:725px) {
  .slider{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    's s'
    's s'
    ;
  }
}